<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="Metrics.CSV.Timer" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{Metrics.Log4Net.LogDirectory}\Metrics.CSV.Timer.csv" />
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="Metrics.Log4Net.Layout.CsvTimerLayout, Metrics.Log4Net"></layout>
      <!--<layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="Metric Name; Metric Type; Date; Ticks; Count; Mean Rate; One Minute Rate; Five Minute Rate; Fifteen Minute Rate; Rate Unit; Last; Min; Max; Mean; StdDev; Median; 75%; 95%; 98%; 99%; 99.9%; Unit; %newline" />
        <conversionPattern value="%property{MetricName};%property{MetricType};%property{Date};%newline" />
      </layout>-->
    </appender>

    <appender name="Metrics.CSV.Gauge" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{Metrics.Log4Net.LogDirectory}\Metrics.CSV.Gauge.csv"/>
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="Metrics.Log4Net.Layout.CsvGaugeLayout, Metrics.Log4Net"></layout>
    </appender>

    <appender name="Metrics.CSV.Counter" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{Metrics.Log4Net.LogDirectory}\Metrics.CSV.Counter.csv"/>
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="Metrics.Log4Net.Layout.CsvCounterLayout, Metrics.Log4Net"></layout>
    </appender>

    <appender name="Metrics.CSV.Meter" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{Metrics.Log4Net.LogDirectory}\Metrics.CSV.Meter.csv"/>
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="Metrics.Log4Net.Layout.CsvMeterLayout, Metrics.Log4Net"></layout>
    </appender>

    <appender name="Metrics.CSV.Histogram" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{Metrics.Log4Net.LogDirectory}\Metrics.CSV.Histogram.csv"/>
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="Metrics.Log4Net.Layout.CsvHistogramLayout, Metrics.Log4Net"></layout>
    </appender>

    <appender name="Metrics.Text" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{Metrics.Log4Net.LogDirectory}\Metrics.Text.txt"/>
      <staticLogFileName value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
         <conversionPattern value="%date %message %newline" />
      </layout>
    </appender>

    <logger name="Metrics.CSV.Timer">
      <level value="ALL" />
      <appender-ref ref="Metrics.CSV.Timer" />
    </logger>

    <logger name="Metrics.CSV.Gauge">
      <level value="ALL" />
      <appender-ref ref="Metrics.CSV.Gauge" />
    </logger>

    <logger name="Metrics.CSV.Counter">
      <level value="ALL" />
      <appender-ref ref="Metrics.CSV.Counter" />
    </logger>

    <logger name="Metrics.CSV.Meter">
      <level value="ALL" />
      <appender-ref ref="Metrics.CSV.Meter" />
    </logger>

    <logger name="Metrics.CSV.Histogram">
      <level value="ALL" />
      <appender-ref ref="Metrics.CSV.Histogram" />
    </logger>
    
    <logger name="Metrics.Text">
      <level value="ALL" />
      <appender-ref ref="Metrics.Text" />
    </logger>
    
  </log4net>
</configuration>